<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="cmisput"
    iconfile="cmisput.png"
    description="Put document via CMIS"
    tooltip="A step that adds a document to a CMIS compatible document management system."
    category="Output"
    classname="org.denooze.plugins.steps.cmisput.CmisPutMeta">
    <libraries>
        <library name="cmisput.jar"/>
    	<library name="lib/chemistry-opencmis-client-api-0.12.0.jar"/>
    	<library name="lib/chemistry-opencmis-client-bindings-0.12.0.jar"/>
    	<library name="lib/chemistry-opencmis-client-impl-0.12.0.jar"/>
    	<library name="lib/chemistry-opencmis-commons-api-0.12.0.jar"/>
    	<library name="lib/chemistry-opencmis-commons-impl-0.12.0.jar"/>
    	<library name="lib/alfresco-opencmis-extension-1.0.jar"/>
    	<library name="lib/mime-util-2.1.3.jar"/>
    	<!--
    	<library name="lib/tika-bundle-1.0.jar"/>
    	<library name="lib/tika-core-1.0.jar"/>
    	<library name="lib/tika-parsers-1.0.jar"/>
    	<library name="lib/apache-mime4j-core-0.7.jar"/>
    	<library name="lib/apache-mime4j-dom-0.7.jar"/>
    	-->
    </libraries>

    <localized_category>
        <category locale="en_US">Output</category>
    </localized_category>
    <localized_description>
        <description locale="en_US">Put document via CMIS</description>
    </localized_description>
    <localized_tooltip>
        <tooltip locale="en_US">A step that adds a document to a CMIS compatible document management system.</tooltip>
    </localized_tooltip>
</plugin>
